<div class="comic" data-controller="favorite" data-comic-id="<%= comic[:id] %>">
  <%= image_tag comic[:cover_url], class: 'img-fluid' %>
  <button data-favorite-target="favButton" data-action="click->favorite#toggleFav" class="fav-button">
    <img src="assets/heart_off.png" class="heart-icon">
    <span data-target="favorite.favCount" class="fav-count">0</span>
  </button>
  <h5><%= comic[:title] %></h5>
</div>